.bl_timer_bar {
  width: 180px;
}

.bl_a_checkin_card {
  min-width: 300px;
  height: 400px;
  /* margin: 20px; */
  border-radius: 10px;
  background-color: #fff;
}
.bl_a_checkin_card_head {
  border-bottom: 1px solid rgb(197, 197, 197);
  height: 40px;
}

.bl_a_checkin_card_head h1 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.bl_a_checkin_card_wf {
  padding: 10px;
}
.bl_a_checkin_card_wf_text {
  border-bottom: 1px solid #abaaaa;
  margin: 0;
  padding: 0;
}
.bl_a_checkin_card_wf_inputs {
  padding: 10px 0;
}
.bl_a_checkin_card_wf label {
  margin-right: 10px;
}

.bl_a_checkin_card_body {
  width: 100%;
  height: 45%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bl_a_checkin_card_body h1 {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

.bl_a_checkin_card_body h2 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.bl_att-select {
  /* margin-right: 10px; */
}

/*  */
.attendence_checkout_card {
  padding: 10px;
}

.attendence_checkout_card h1 {
  font-weight: 400;
  padding-top: 30px;
}
.attendence_checkout_card_date {
  display: inline-block;
  padding-bottom: 30px;
}

.attendence_checkout_b-card p {
  display: inline-flex;
  width: 100px;
}

/* filter */
.bl_filter_date_range_cont {
  position: relative;
}
.bl_filter_date_range {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 300px;
  min-height: 400px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  /* padding: 10px; */
  font-size: 15px;
}

.bl_filter_date_range_input_cont {
  padding: 0 15px;
}

.bl_filter_date_range h1 {
  font-size: 18px;
  font-weight: 400;
  padding-left: 6px;
  color: #fff;
}
.bl_filter_date_range_header {
  background-color: #779aa0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bl_filter_date_range label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  color: #706c80;
}
.bl_filter_date_range select {
  width: 100%;
  font-size: 16px;
  height: 40px;
  background-color: #e7e4e44e;
  margin: 0;
  font-weight: 300;
}

.bl_filter_date_range select option {
  font-weight: 100;
}

.bl_filter_date_range input {
  width: 100%;
  font-size: 16px;
  height: 40px;
  background-color: #e7e4e44e;
  color: rgb(43, 45, 45);
  border: 0;
  outline: none;
}

.bl_filter_date_range_footer {
  border-top: 1px solid rgba(177, 177, 177, 0.333);
}

/* attendence dashboard */

.bl_att_dashboard_heading {
  font-size: 20px;
  font-weight: 400;
}

.bl_att_dashboard {
  width: 100%;
  background-color: #f2f3f3;
}

.bl_att_card_header {
  padding: 10px;
  font-size: 20px;
  height: 25px;
  font-weight: 400;
  border-bottom: 2px solid rgb(228, 221, 221);
}

.bl_att_d_t-cont {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.bl_att3-4 {
  flex: 3 0 0;
  /* background-color: #779aa0; */
}

.bl_att1-4 {
  flex: 1 0 0;
  background-color: #fff;
  height: 80vh;
  border-radius: 10px;
}

.bl_att-t-1-3 {
  flex: 1 0 0;
  background-color: #fff;
  height: 100px;
  border-radius: 10px;
}

.bl_att-t2-1-2 {
  flex: 1 0 0;
  background-color: #fff;
  /* padding: 10px; */
  border-radius: 10px;
  height: 300px;
}

.bl_att_cen {
  /* background-color: #18cbeb; */
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

.bl_circular-bar-cont {
  width: 60px;
  /* height: 100%; */
}

.bl_att_1-3-text {
  font-size: 20px;
}

/* user cont */
.bl_att_user-cont {
  /* background-color: #779aa0; */
  padding: 10px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #eee;
}

.bl_att_user-cont img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bl_att_user-cont_name {
  color: #434242;
}

.bl_att_user-cont_role {
  color: #646465;
}

.bl_att_user-cont_manager {
  color: #646465;
}

.bl_att_user-cont_date {
  display: flex;
  align-items: center;
  color: #868686;
}

/* chart */
.bl_att_weekly-chart {
  background-color: #fff;
  border-radius: 10px;
  height: 400px;
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ui checkin out */
.bl_ui_checkin-cont {
  background-color: #f2f3f3;
  height: calc(100vh - 90px);
  padding: 20px;
  display: flex;
  gap: 10px;
}
